[package]
name = "cachelito-core"
version = "0.1.0"
edition = "2021"

[dependencies]
once_cell = "1.21.3"
parking_lot = "0.12"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "cache_benchmark"
harness = false

